---
layout: error
title: "404 - Page Not Found"
permalink: 404.html
---

<!doctype html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>404 - Page Not Found</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Brand icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/blog/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/blog/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/blog/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/blog/assets/images/site.webmanifest">
    <link rel="mask-icon" href="/blog/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/blog/assets/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/blog/assets/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta http-equiv="cleartype" content="on">

    {% assign stylesheets = "assets/css/ghost.min.css" | split: "|" %}
    {% for stylesheet in stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet | prepend: site.baseurl }}?{{ site.time | date: '%s%N'}}" />
    {% endfor %}
    <link rel="stylesheet" type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700'>
</head>
<body>
    <main role="main" id="main">
        <div class="gh-app">
            <div class="gh-viewport">
                <div class="gh-view">
                    <section class="error-content error-404 js-error-container">
                        <section class="error-details">
                            <img
                                    class="error-ghost"
                                    src="{{ site.baseurl }}assets/images/404.png"
                                    srcset="{{ site.baseurl }}assets/images/404.png"/>
                            <section class="error-message">
                                <h1 class="error-code">404</h1>
                                <h2 class="error-description">Page not found</h2>
                                <a class="error-link" href="{{ site.baseurl }}">Go to the front page →</a>
                            </section>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </main>

    <!-- Add Google Analytics  -->
    {% include analytics.html %}
</body>
</html>
