    <nav class="main-nav {% if page.cover %}overlay{% endif %} clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl | prepend: site.url }}"><span class="blog-logo-svg">{% include icon-logo.svg %}</span></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
