<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>

        <span>Popular Tags</span>
        {% assign all_tags = site.posts | map: "tags" | countLimit %}
        {% for tag in all_tags %}
        <li class="nav-{{tag | slugify }} {% if page.url contains tag %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/{{ tag }}">{{ tag | camelcase }}</a></li>
        {% endfor %}

        <span>Popular Authors</span>
        {% assign all_authors = site.posts | map: "author" | countLimit | sort_natural %}
        {% for author in all_authors %}
        <li class="nav-author {% if page.url contains author %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/{{ author }}">{{ site.data.authors[author].name }}</a></li>
        {% endfor %}
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
