{% if include.id and include.id.size > 0 %}
<section class="unsplash-credit">
    <span class="icon icon--camera">{% include icon-camera.svg %}</span>
    {% if include.name and include.name.size > 0 %}
    <a target="_blank" href="https://unsplash.com/{{ include.name }}?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">{{include.name}}</a> /
    {% endif%}
    <a target="_blank" href="https://unsplash.com/photos/{{ include.id }}?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</section>
{% endif %}
