---
# Front matter comment to ensure Jekyll properly reads this file
---
.unsplash-credit {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    padding: 5px;
    font-size: 1.2rem;
    line-height: 1.0em;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

$icon-svg-size: 1.0em;
.icon > svg {
    display: inline-block;
    height: $icon-svg-size;
    width: $icon-svg-size;
    vertical-align: middle;
}

$svg-logo-size: 50px;
.blog-logo-svg {
    height: $svg-logo-size;
    width:  $svg_logo-size;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.1em;

    & svg circle {
        fill: black;
        stroke: white;
        stroke-width: 15;
    }

    footer & {
        display: inline;
    }
}

.blog-logo svg {
    & circle {
        -webkit-transition: fill 0.5s ease;
        -moz-transition: fill 0.5s ease;
        -o-transition: fill 0.5s ease;
        transition: fill 0.5s ease;
    }
    &:hover circle {
        fill: white;
        stroke: black;
    }
}
