---
layout: default
title: Author
cover: 'assets/images/cover4.jpg'
class: 'author-template'
label: Author
current: author
---
<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header -->

<!-- Everything inside the #author tags pulls data from the author -->
<!-- #author  -->
    <header class="main-header author-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
        {% include main_nav.html %}
        {% include unsplash_credit.html name=page.unsplashname id=page.unsplashid %}
    </header>

    <section class="author-profile inner">
        {% for author in site.data.authors %}
            {% if author[1].username == page.author %}
                {% if author[1].assets %}
                <figure class="author-image">
                    <div class="img" style="background-image: url({{ site.baseurl }}{{ author[1].assets }})"><span class="hidden">{{ author[1].name }}'s Picture</span></div>
                </figure>
                {% endif %}
                <h1 class="author-title">{{ author[1].name }}</h1>
                {% if author[1].bio %}
                    <div style="display:inline; text-align: justify; text-justify: inter-word;">
                        <h2 class="author-bio">{{ author[1].bio }}</h2>
                    </div>
                {% endif %}
                <div class="author-meta">
                    {% if author[1].location %}<span class="author-location icon-location">{{ author[1].location }}</span>{% endif %}
                    {% if author[1].url %}<span class="author-link icon-link"><a href="{{ author[1].url_full }}">{{ author[1].url }}</a></span>{% endif %}
                    <!-- <span class="author-stats"><i class="icon-stats"></i> [[plural ../pagination.total empty='No posts' singular='% post' plural='% posts']]</span> -->
                    <span class="author-stats"><i class="icon-stats"></i>{% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 post{% else %}{{ paginator.total_posts }} posts{% endif %}</span>
                </div>
            {% endif %}
        {% endfor %}
    </section>
<!-- /author -->

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs  -->
    {% include loop.html %}

</main>
