<!DOCTYPE html>
<html>
<head>
    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page Meta -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

    <!-- Mobile Meta -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Brand icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ 'assets/images/site.webmanifest' | relative_url }}">
    <link rel="mask-icon" href="{{ 'assets/images/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico' | relative_url }}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{{ 'assets/images/browserconfig.xml' | relative_url }}">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles'n'Scripts -->
    {% assign stylesheets = "assets/css/screen.css|assets/css/syntax.css|assets/css/custom.css" | split: "|" %}
    {% for stylesheet in stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet | relative_url }}?{{ site.time | date: '%s%N'}}" />
    {% endfor %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <!-- highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
    <style>.hljs { background: none; }</style>

    <!-- Ghost outputs important style and meta data with this tag -->
    {% include head.html %}

</head>
<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %} nav-closed {% if page.short-cover %} short {% endif %}">

    <!-- The blog navigation links -->
    {% include navigation.html %}

    <div class="site-wrapper">

        <!-- All the main content gets inserted here, index.hbs, post.hbs, etc -->
        {{ content }}

        <!-- The tiny footer at the very bottom -->
        <footer class="site-footer clearfix">
          <section class="copyright"><a href="{{ site.baseurl | prepend: site.url }}"><span class="icon blog-logo-svg">{% include icon-logo.svg %}</span>{{ site.name }}</a> &copy; {{  site.time | date: '%Y' }}</section>
          <section class="poweredby">Proudly published with <a href="https://jekyllrb.com/">Jekyll</a> using <a href="https://github.com/jekyller/jasper">Jasper</a></section>
        </footer>
    </div>
    <!-- highlight.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Ghost outputs important scripts and data with this tag -->
    <!-- {{ghost_foot}} -->
    <!-- Add Google Analytics  -->
    {% include analytics.html %}

    {% comment %}
    <!-- Fitvids makes video embeds responsive and awesome -->
    <!-- The main JavaScript file for Casper -->
    {% endcomment %}
    {% assign scripts = "assets/js/jquery.fitvids.js|assets/js/index.js" | split: "|" %}
    {% for script in scripts %}
    <script type="text/javascript" src="{{ script | relative_url }}?{{ site.time | date: '%s%N'}}" ></script>
    {% endfor %}

    {% comment %} Include clickable deep linking anchors automatically {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <script>
	anchors.options = {
	    placement: "left",
            visible: "touch"
	};
        anchors.add("h1.post-title, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6");
    </script>
</body>
</html>
