---
layout: default
class: 'page-template'
---
<!-- < default -->

<!-- This is a page template. A page outputs content just like any other post, and has all the same -->
    <!-- attributes by default, but you can also customise it to behave differently if you prefer.  -->

<!-- Everything inside the #post tags pulls data from the page -->
<!-- #post -->

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}){% else %}no-cover{% endif %}">
    {% include main_nav.html %}
    {% include unsplash_credit.html name=page.unsplashname id=page.unsplashid %}
</header>

<main class="content" role="main">
    <article class="post">
        <!-- Everything inside the #post tags pulls data from the post -->

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>

        <section class="post-content">
            {{ content }}
        </section>

    </article>
</main>
<!-- /post -->
