---
layout: default
class: 'tag-template'
current: tag
cover: "assets/images/yYHuMFSZ7A4-unsplash.jpg"
---

{% comment %}
    We need page.cover to exist because it is expected to exist in _includes/main_nav;
    Too bad we cannot do something so simple as `assign page.cover` ....
{% endcomment %}
{% assign cover = page.cover %}
{% assign unsplashid = "yYHuMFSZ7A4" %}
{% assign unsplashname = "@lensshooter" %}

{% for tag in site.data.tags %}
    {% if page.url contains tag[0] %}
        {% if tag[1].cover and tag[1].cover.size > 0 %}
            {% assign cover = tag[1].cover %}
            {% assign unsplashid = tag[1].unsplashid | default: "" %}
            {% assign unsplashname = tag[1].unsplashname | default: "" %}
        {% endif %}

        {% assign description = tag[1].description | default: "" %}

        {% break %}
    {% endif %}
{% endfor %}


<header class="main-header tag-head {% if cover and cover.size > 0 %}" style="background-image: url({{ site.baseurl }}{{ cover }}{% else %}no-cover{% endif %}">
    {% include main_nav.html %}
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ page.tag | capitalize }}</h1>
            <h2 class="page-description">
            {% if description and description.size > 0 %}
                {{ description }}
            {% endif %}
            {% if page.tag %}
			    A {{ paginator.total_posts }}-post collection
            {% endif %}
            </h2>
        </div>
    </div>

    {% include unsplash_credit.html name=unsplashname id=unsplashid %}
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs -->
    {% include loop.html %}

</main>
